<div class='mt-10'>
    <form method='post' action='/courses/store'>
        <div class='mb-3'>
            <label class='mb-2' for='name'>Name</label>
            <input type='text' class='form-control' name='name' id='name' />
        </div>
        <div class='mb-3'>
            <label class='mb-2' for='videoid'>Video ID</label>
            <input
                type='text'
                class='form-control'
                name='videoid'
                id='videoid'
            />
        </div>
        <div class='mb-3'>
            <label class='mb-2' for='description'>Description</label>
            <input
                type='text'
                class='form-control'
                name='description'
                id='description'
            />
        </div>

        <button type='submit' class='btn btn-primary'>Thêm khoá học</button>
    </form>
</div>