<div class='mt-10'>
    <div class='row'>
        <div class='col-lg-3 col-md-0 col-sm-12'>
            <button>Học ngay</button>
        </div>

        <div class='col-lg-9 col-md- col-sm-12'>
            <h2>
                {{course.name}}</h2>
            <iframe
                max-width='1200px'
                max-height='600px'
                src='https://www.youtube.com/embed/{{course.videoId}}'
                title='YouTube video player'
                frameborder='0'
                allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                allowfullscreen
            ></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>