<div class='mt-14'>
    <div class='row'>
        <div class='col-lg-3'>
            <button>Học ngay</button>
        </div>

        <div class='col-lg-9'>
            <h2>
                Node & ExpressJS</h2>
        </div>
    </div>
</div>